/* Thanks - http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design */
.flockler-items .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

	.flockler-items .video-container iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
